# This file is purposely pushed to show the config. In production this file should not be pushed.
PORT=3000
JWT_SECRET=your-secret-key-change-in-production
JWT_ACCESS_EXPIRES_IN=1h
DB_PATH=./data/auth.db
